html {
    scroll-behavior: smooth;
}
.nav__cont {
    position: fixed;
    width: 80px;
    top:0;
    z-index: 100;
    background-color: #202020;
    overflow:hidden;
    transition:width .3s ease;
    cursor:pointer;
    box-shadow:4px 7px 10px rgba(0,0,0,.4);
}
.nav__cont:hover {
width:220px;
}
.nav {
list-style-type: none;
color:white;
}
.nav__items{
    min-width: 200px;
}
.zoom {
    transition: transform .2s;
}
.zoom:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
}
.active > a,.active > i{
    color: rgb(110, 255, 255) !important;
    font-size: 105%;
    font-weight: 600 !important;
}
.nav__items a {
    position: relative;
    display:block;
    left: 81px;
    top: -41px;
    transition:all .3s ease;
    text-decoration: none;
    color:white;
    font-weight: 100;
    font-size: 1.35em;    
}
.nav__items i{
    font-size:40px;
    position: relative;
    left: 9px;
    cursor:pointer;
    transition:font-size .3s ease;
    color: #f3af5f;
    /* #5ff3f3 */
}

body {
    background-color: #212121;
}

.container-fluid{

    padding-left: unset;
    padding-right: unset;

}
section{
    background-color: #f8f2ea;
   
    min-height: 567px;
}
#home{
    padding: 10vh;
    /* padding-top: 20vh; */
}
#home,#port{
    background-color: #3b3b3b;
}
#tech{
    background-color: #3b3b3b;
    
}
#about{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20vh;
    padding-right: 20vh;
    
    min-height: 450px;
}
#container-about{
    border-radius: 20px;
    background-color: white;
    padding: 10vh;
    transition:all .3s ease;

}
#container-about:hover{

    box-shadow: 0 10px 20px rgb(74 74 74 / 15%);
    transform: translateY(-5px);
    transition-duration: 0.2s;

}

#home__title{
    margin-left:5%;
    text-align: center;
  
    font-weight: 100;
    font-size: 4rem;
    
    color:white;
    letter-spacing:6px;
    text-shadow:10px 10px 10px rgba(0,0,0,.3);
    
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    /* font-weight: bolder; */
    color: #f8eddf;
    font-weight:400;
    /* transition:font-size .3s ease; */
}
#home__profile{
   width: 100%;
   border-radius: 50%;
}

#container-image{

    margin: auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
   
}
#container-image img{
    width: auto;
    height: 100%;
    margin-left: -114px;
    

}
#about__title{
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing:6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
  /* Media query */
@media screen and (max-width: 926px) {

    #home__title{

        font-size: 3.3rem;
        transition:font-size .3s ease;

    }
    
}
@media screen and (max-width: 850px) {

    #home__title{
        font-size: 2.5rem;
        transition:font-size .3s ease;
    }   
    .nav__cont{

        width: 60px;
        transition:width .3s ease;

    }
    .nav__items:hover a{
        color: rgb(110, 255, 255);
        font-weight: 100;
    }
    .nav__items i{
        font-size: 30px;
        left:6px;
        transition:font-size .3s ease;   
    }
    .nav__items a{      
        top: -31px;     
        font-size: 1em;
        transition:font-size .3s ease;
    }
    #container-image{
        width: 200px;
        height: 200px;
        transition:width .3s ease;
        transition:height .3s ease;
    }
    #container-image img{
        
        margin-left: -75px;
        
    }
   
}
@media screen and (max-width: 650px) {
    
    .nav:first-child {

        padding-top:unset;
        
    }
    .nav__cont:hover {
        width:100%;
        transition:all .3s ease;

    }
    .nav__cont{
        text-align: center;
        width: 100%;
        transition:all .3s ease;
    }
    .nav{
        display: inline-block;
        transition:display 1s ease;
        padding-left: 0;
    }
    .nav__items{
        /* width:auto; */
        display: inline-block;
        padding: 6px;
        min-width: 90px;
        /* min-height: 73.5px; */
    }
    .nav__items i{
        font-size: 25px;
        left:0px;
        transition:font-size .3s ease;
    }
    .nav__items a{
        display: none;
        left: 0px;
        transition:font-size .3s ease;
    }
    .nav__items:hover a{
        top: 0;
        display: inherit;
        color: aqua;
        font-weight: 100;
    }
    .nav__items:hover i{
        display: none;
       
    }
    #about{
        padding-top: 10vh;
        padding-bottom: 10vh;
        padding-left: 5vh;
        padding-right: 5vh;
        
        min-height: 450px;
    }
    #about__title{
        font-weight: 400;
        font-size: 1.0rem;
        letter-spacing:5px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    #container-about{

        padding: 5vh;

    }
    
   
   
}
@media screen and (max-width: 563px) {
    
  
    .nav__items{
       
        min-width: 80px;
        /* transition:min-width .3s ease; */
        /* min-height: 73.5px; */
    }
    .nav__items i{
        font-size: 25px;
        left:0px;
        transition:font-size .3s ease;
    }
    .nav__items a{
        font-size: 0.8em;
        display: none;
        left: 0px;
        font-weight: 100;
        
    }
    .nav__items:hover a{
        top: 0;
        display: inherit;
        color: rgb(110, 255, 255);
        font-weight: 100;
    }
    .nav__items:hover i{
        display: none;
       
    }
    
   
   
}
@media screen and (max-width: 501px) {
    .nav__items{
       
        min-width: 73px;
        /* transition:min-width .3s ease; */
        /* min-height: 73.5px; */
    }
}
@media screen and (max-width: 459px) {
    .nav__items{
       
        min-width: 70px;
        /* transition:min-width .3s ease; */
        /* min-height: 73.5px; */
    }
}
@media screen and (max-width: 442px) {
    .nav__items{
       
        min-width: 69px;
        /* transition:min-width .3s ease; */
        /* min-height: 73.5px; */
    }
}
@media screen and (max-width: 435px) {
    .nav__items{
       
        min-width: 66px;
        /* transition:min-width .3s ease; */
        /* min-height: 73.5px; */
    }
}
@media screen and (max-width: 418px) {
    .nav__items{
       
        min-width: 63px;
        /* transition:min-width .3s ease; */
        /* min-height: 73.5px; */
    }
}
@media screen and (max-width: 400px) {
    .nav__items{
       
        min-width: 55px;
        /* transition:min-width .3s ease; */
        /* min-height: 73.5px; */
    }
}
@media screen and (max-width: 414px) {

    #home__title{
        font-size: 2.0rem;
        transition:font-size .3s ease;
    }

    #home{
        padding-top: 18vh;
        transition:padding-top .3s ease;
    }
    .nav__items a{
        font-size: 0.7em;

    }
    
}

@media screen and (max-width: 352px) {
    .nav__items{
       
        min-width: 49px;
        /* transition:min-width .3s ease; */
        /* min-height: 73.5px; */
    }
    #home__title{
        font-size: 1.8rem;
        transition:font-size .3s ease;
    }
    #container-image{
        width: 184px;
        height: 184px;
        /* transition:width .3s ease;
        transition:height .3s ease; */
    }
    #container-image img{
       
        margin-left:  -71px;;
        
    
    }
}
@media screen and (max-width: 337px) {
    .nav__items a{
        font-size: 0.6em;

    }
}

