
.icon-home:before { content: '\e800'; } /* '' */
.icon-folder:before { content: '\e801'; } /* '' */
.icon-contacts:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-params:before { content: '\e804'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
